/* Author: Fitore Jaha Price */

.site { 	
	color: #555555;
	margin: 0;
	font-size: 1rem;	
	font-family: "Open Sans", sans-serif;
}
  
.footer {
	border-top: 2px solid #000;
	font-size: 0.9rem;	
	text-align: center;
	padding-top: 1.5rem;
}

.content-link {
	color: #BE4C54;
	font-weight: 700;
	text-decoration: none;	
}

.content-link:hover {	
	color: #DC143C;
	text-decoration: underline;	
}

.heading {
	color: #000;
	font-family: 'Merriweather', serif;		
	margin: 0;
}

.name {
	font-size: 3rem;	
}

.profile-image {
	object-fit: cover;
	width: 250px;
}

.employer-list {
	margin: 0;
}

.grid {
	background-color: #FFF;	
	max-width: 60rem; 
	margin: 1rem auto;
}

.grid-content {
	padding: 1rem;
}

@supports (display: grid) {
	.grid {		
		display: grid;
		grid-template-areas: "header header about"
		"contact photo about"
		"footer footer footer";				
	}
	
	.header {
		border-bottom: 2px solid #000;
		grid-area: header;
	}
	
	.about {
		border-left: 2px solid #000;
		grid-area: about;
	}
	  
	.footer {						
		grid-area: footer;
		text-align: center;		
	}
	
	.contact {
		border-right: 2px solid #000;
		grid-area: contact;
	}

	.profile-image {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}	

}

@media screen and (max-width: 500px) {
	.grid {
		grid-template-areas: "header header"
		"about about"
		"contact photo"				
		"footer footer";		
		grid-gap: 1rem;	
	}

	.about {
		border-left: none;
		border-bottom: 2px solid #000;
	}

	.name {
		font-size: 2.25rem;	
	}	
}
